{%- if page.comments != false -%}
<div class="comments">
  <h2 class="comments-title">Comments</h2>
  
  <section id="isso-thread" data-isso-id="{{ page.url | relative_url }}"></section>

  <script data-isso="https://yourblog-comments.duckdns.org"
          data-isso-css="true"
          data-isso-lang="en"
          data-isso-max-comments-top="10"
          data-isso-max-comments-nested="5"
          data-isso-reveal-on-click="5"
          data-isso-avatar="true"
          data-isso-vote="true"
          data-isso-reply-notifications="true"
          data-isso-require-author="true"
          data-isso-vote-levels=""
          data-isso-host="https://kekn9ne.github.io/blog"
          src="https://yourblog-comments.duckdns.org/js/embed.min.js"></script>
</div>
{%- endif -%} 