---
layout: default
---
<div class="home">
  {%- unless page.url == "/" -%}
    {%- if page.title -%}
      <h1>{{ page.title }}</h1>
    {%- endif -%}
  {%- endunless -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-item">
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <div class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ post.date | date: date_format }}
          </time>
          {%- if post.author -%}
            • <span>{{ post.author }}</span>
          {%- endif -%}
        </div>
        {%- if post.excerpt -%}
          <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div> 